body {
    margin: 0px;
    font: 400 15px/1.8 sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 190%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}


/* Animation */

.anim-typewriter {
    animation: typewriter 2s steps(20) 0s 1 normal both, blinkTextCursor 500ms steps(20) normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 7em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}


/* f3efe0 */

.container {
    padding: 80px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.person:hover {
    border-color: #f1f1f1;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    /* make all photos black and white */
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.bg-1 {
    background: #22A39F;
    color: #bdbdbd;
}

.bg-1 h3 {
    color: #fff;
}

.bg-1 p {
    font-style: italic;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.btn:hover,
.btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.modal-header,
.close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header,
.modal-body {
    padding: 40px 50px;
}

.nav-tabs li a {
    color: #777;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 1.5rem !important;
    letter-spacing: 2px;
    opacity: 0.9;
}

.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: red !important;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}


/*  */

.cover .container {
    background-image: url(./sean_avengers_endgame.0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
    height: 100vh;
    width: 100vw;
}

.cover .text {
    position: absolute;
    top: 50%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffff;
}

.coverDesc {
    font-size: 140%;
}


/* profile */

#profile {
    /* height: 100vh;
    width: 100vw; */
    padding: 15vh 10vw;
}


/*Section Classes*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
    font-size: 5rem;
}

.section-heading span {
    color: #22b7da;
    display: inline-block;
    padding-top: 10px;
}


/*Skills Section*/

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-progress {
    width: 170px;
    height: 40px;
    background-color: lightgrey;
    border-radius: 40px;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill-progress>div {
    border-radius: 40px 0px 0px 40px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name {
    padding-top: 5px;
    height: 40px;
}

.skill-name span {
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
    vertical-align: middle;
}


/* Work Experience */

.timeline {
    position: relative;
    width: 95%;
}

.timeline-box {
    padding: 5px;
    width: 40%;
    /* min-height: 150px; */
    position: relative;
    left: 6%;
    text-align: right;
    background-color: #dbf6e9;
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 15%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}

.timeline-container {
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    margin: 0%;
}

.timeline-logo {
    width: 5vw;
    height: 10vh;
    overflow: hidden;
}

.timeline-logo>img {
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 48%;
    color: #433E3F;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

.timeline-content {
    width: 80%;
}

.experience-designation {
    font-size: 1.5rem;
}

.experience-company-name {
    margin: 0%;
    font-size: 2rem;
    margin: 10px 0 10px 10px;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1.5rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}


/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin-bottom: 20px;
    justify-content: center;
}

.portfolio-image-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.project-link {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #2e2d2d78;
    color: white;
}


/* Common Margin Classes */

.m0 {
    margin: 0;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}


/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}


/* setting background-color */

.m-blue {
    color: #2857a4;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}


/*Percentage Classes */

.ninety-percent {
    height: inherit;
    width: 90%;
}

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.seventy-percent {
    height: inherit;
    width: 70%;
}

.sixty-percent {
    height: inherit;
    width: 60%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}

.gyan {
    position: absolute;
}
